<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
      <div class="card mt-5">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-12">
              <%= simple_form_for([@project, @task]) do |f| %>
                <%= f.input :name, class: 'form-control' %>
                <%= f.input :status, as: :boolean, checked_value: true, unchecked_value: false %>
                <div class="input-group date">
                  <%= f.input :completed_at, as: :date, order: [:day, :month, :year] %>
                </div>
                <%= f.submit 'Update', class: 'btn btn-primary input-group-btn' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
