<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
      <% @projects.each do |project| %>
        <li class="list-group-item">
          <div class="card-header d-flex justify-content-between">
            <%= fa_icon 'calendar' %>
            <%= project.name %>
            <%= link_to fa_icon('pencil'), edit_project_path(project) %>
            <%= link_to fa_icon('trash'), project, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </li>
      <% end %>
      <ul class="list-group">
          <% @projects.each do |project| %>
            <% project.tasks.each do |task| %>
              <li class="list-group-item">
                <%= fa_icon 'calendar' %>
                <%= task.name %>
                <%= link_to fa_icon('pencil'), edit_project_path(project) %>
                <%= link_to fa_icon('trash'), project, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            <% end %>
          <% end %>
      </ul>
    </div>
  </div>
</div>

<%= link_to 'New Project', new_project_path, class: "btn btn-primary btn-lg", type: "button" %>

