<div class="card-header d-flex justify-content-between">
  <span>
    Todo List
  </span>
  <%= link_to 'Add TODO list', new_project_path, class: "btn btn-primary", type: "button" %>
</div>

<ul class="list-group">
  <% @projects.each do |project| %>
    <li class="list-group-item">
      <div class="d-flex justify-content-between align-items-center">
        <%= fa_icon 'calendar' %>
        <h4><b><%= project.name %></b></h4>
        <%= link_to fa_icon('pencil'), edit_project_path(project) %>
        <%= link_to fa_icon('trash'), project, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </li>
  <% end %>
</ul>
