<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
      <div class="card mt-5">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4>
            <b>My Todo Lists</b>
          </h4>
          <%= link_to 'Add TODO list', new_project_path, class: "btn btn-primary btm-sm" %>
        </div>

        <div class="card-body">
          <ul class="list-group">
            <% @projects.each do |project| %>
              <%= link_to project, class: 'text-decoration-none' do %>
                <li class="list-group-item d-flex justify-content-between">
                  <div>
                    <h5 class='m-0 text-dark'>
                      <b><%= project.name %></b>
                      <span class="badge badge-<%= project.badge_color %>"><%= project.progress %></span>
                    </h5>
                    <p class="text-secondary m-0"><small><%= project.percent_complete %>% Complete ( <%= project.completed_tasks %>/<%= project.total_tasks %> Tasks )</small>
                    </p>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
