<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page" id="page">
      <% if current_user %>
        <div class="head">
          You are logged in as
          <%= current_user.email %>
          |
          <%= link_to 'logout', destroy_user_session_path, method: :delete %>
        </div>
      <% end %>
      <div class="page-title">
        SIMPLE TODO LIST
        <div class="sub">
          FROM RUBY GARAGE
        </div>
      </div>
    </div>

    <p id="notice"><%= notice %></p>
    <%= yield %>

    <div class="mastfoot">
     <p class="app-footer"><%= copyright_generator %></p>
    </div>
  </body>
</html>
